[submodule "gazebo_controller/jet-leg"]
	path = gazebo_controller/jet-leg
	url = git@gitlab.advr.iit.it:rorsolino/jet-leg.git
[submodule "jumpleg_rl"]
	path = jumpleg_rl
	url = git@github.com:jprogrammer13/jumpleg_rl.git
